<div>
    <div data-bind="foreach: $data.properties">
        <div class="row form-group wow fadeInUp animated" data-wow-delay=".1s">
            <strong><span data-bind="text: $data.key" style="text-transform: capitalize;"></span>:</strong> <span data-bind="text: $data.value"></span>
        </div>
    </div>
</div>
