<!-- ko with: currentResponse -->
<section data-bind="css: $data.class().join(' ')" class="pfblock">
    <!-- ko switch -->
    <!-- ko case: $data instanceof CollectionEntity -->
    @Html.Partial(Url.Content("siren/collectionEntity.cshtml"))
    <!-- /ko -->

    <!-- ko case: $else -->
    @Html.Partial(Url.Content("siren/entity.cshtml"))
    <!-- /ko -->
    <!-- /ko -->
</section>
<!-- /ko -->