<header id="root" data-bind="with: root" class="header">
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">HyperMultimedia</a>
            </div>

            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul data-bind="with: menu" class="nav navbar-nav navbar-right">
                    <!-- ko foreach: links -->
                    <li data-bind="css: { active: $parent.isActiveLink($data) }">
                        <a href="#" data-bind="click: $parent.executeLink.bind($parent)">
                            <span data-bind="text: $data.title"></span>
                        </a>
                    </li>
                    <!-- /ko -->
                            
                    <!-- ko foreach: actions -->
                    <li>
                        <a href="#" data-bind="click: $data.execute.bind($data)">
                            <span data-bind="text: $data.title"></span>
                        </a>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </nav>
</header>