<div class="row form-group wow fadeInUp animated" data-wow-delay=".1s">
    <strong><span data-bind="text: $data.key" style="text-transform: capitalize;"></span>:</strong> <img src="#" alt="" data-bind="attr: { src: $data.value }" />
</div>
